html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  /* outline: red solid 1px; */
}

main {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  height: 100vh - 50px;
  padding: 3%;
  padding-top: 50px;
}

.question {
  overflow: visible;
  border: black solid 2px;
  color: black;
  height: 200px;
  background-color: lightskyblue;
  display: grid;
  place-items: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.answers {
  display: grid;
  margin-top: 30px;
  gap: 10px;
}

.answer {
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  overflow: hidden;
  background-color: grey;
}

.answer-num,
.answer-score {
  flex: 1;
  display: grid;
  place-items: center;
  padding-right: 10px;
}

.answer-num {
  border-right: solid black 2px;
}

.answer-answer {
  flex: 14;
  display: grid;
  place-items: center left;
}

.answer-btns,
.buzzer-btns {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buzzer-btn,
.wrong-answer-btn,
.reveal-btn {
  display: grid;
  place-items: center;
  border: black solid 2px;
  overflow: hidden;
  background-color: lightcoral;
}

.buzzer-btn:first-child {
  background-color: lightgreen;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.buzzer-btn:last-child {
  background-color: lightcoral;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.new_question-btn {
  margin-top: 25px;
  width: 100%;
  display: grid;
  place-items: center;
  border: black solid 2px;
  overflow: hidden;
  background-color: lightcoral;
}

.wrong-answer-btn {
  background-color: lightcoral;
}

.reveal-btn {
  background-color: lightskyblue;
}

.new_question-btn {
  background-color: black;
  color: white;
}

.new_question-btn > p {
  color: white;
}

.sound-btns {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sound-btn {
  width: 100%;
  border: black solid 2px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
}

.sound-btn > p::before {
  content: "🎵 - ";
}

.sound-btn:nth-child(2) {
  border-top-right-radius: 25px;
}

.sound-btn:nth-child(1) {
  border-top-left-radius: 25px;
}

.sound-btn:nth-child(4) {
  border-bottom-right-radius: 25px;
}

.sound-btn:nth-child(3) {
  border-bottom-left-radius: 25px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 20px;
}

#connection-status {
  display: block;
  text-align: center;
  margin-top: 35px;
}

#connection-status::before {
  content: "Connected: ";
}

#buzzer-active,
#wrong-answer,
#round-points {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}

#round-points {
  text-align: right;
}

#buzzer-active {
  text-align: center;
}

#wrong-answer::before {
  content: "WRONG: ";
}

#round-points::before {
  content: "POINTS: ";
}

#buzzer-active::before {
  content: "BUZZER: ";
}

div p {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px;
}
